div.mainpanel-style {
  background-color: #edeeef;
  border: 2px;
  border-radius: 5px;
  text-align:left;
  width:100%;
  float:right;
}
h3.heading-style{
  vertical-align: top;

}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

th {
border: 1px solid #dddddd;
background-color: #b0b4ba;
text-align: center;
padding: 8px;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}
.button {
  border: none;
  color: black;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #008CBA;
}