<div class="mainpanel-style">
    <h3 class="heading-style"> {{ subtitle }} sub</h3>
</div>

<div class="canvas-style">
    <div class="nav1">
        <button class="button" (click)='zoomIn()'>+</button>
        <button class="button" (click)='zoomOut()'>-</button>
        <button class="button">Magnify</button>
        <button class="button">Clear</button>
        <button class="button">Cut</button>
        <button class="button">Copy</button>
        <button class="button">Past</button>
    </div>
    <div id="stencil" class="left-stencil"></div>
    <div id='canvas-main' class="right-canvas">
        <div class="canvas-extension">
            <!-- <div class="papper-wrapper"> -->
                <div id="paper"></div>
            <!-- </div> -->
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="child"></div>
  </div> -->
<!-- <div class="canvas-style">
    <div id="stencil"></div>
    <div id="paper"></div>
    
</div> -->