@import url("../../../../build/joint.css");

div.mainpanel-style {
    background-color: #a9aeb3;
    /* border: 2px solid green; */
    border-radius: 5px;
    text-align:left;
    width:100%;
    float:right;
}

div.canvas-style {
    background-color: #ffffff;
    border: 2px;
    border-radius: 5px;
    width:100%;
    float:right;
}

h3.heading-style{
    vertical-align: top;
}


.canvas-extension{
	background-color:rgb(214, 214, 214);
	width:2500px;
	height: 1500px;
	/* margin: 0 auto; */
	position: relative;
}

.papper-wrapper {
	vertical-align: middle;
	/* width: 300px; */
	height: auto;
	margin: 0 auto;
	position: relative;
	margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
	/* padding:100px; */
}

#paper {
    background: #628aa8;
	position: absolute;
	top: 20%;
	left: 30%;
	transition: transform .2s;
	/* width: 300px; */
	/* height: auto;
	margin: 0 auto; */
	/* position: relative; */
	/* margin-left: auto;
    margin-right: auto; */
	/* width:87.5%; */
	/* background-color:rgb(196, 196, 196);	 */
	/* height:100px; */
	/* float:middle; */
	/* overflow:scroll */
}

.layout-align-center-center{
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-grid-row-align: center;
	align-items: center;
	-webkit-align-content: center;
	align-content: center;
		-webkit-box-pack: center;
	  -webkit-justify-content: center;
	  justify-content: center;
  }

#stencil {
    background: #383838;
	width:12.5%;
	/* background-color:rgb(162, 162, 170); */
	height:485px;
	float:left;
}

.nav1{
	width:60%;
	margin:auto;
   height:50px;
	background-color:rgb(162, 162, 170);
	vertical-align:middle;
  }
  .left-stencil {
	width:12.5%;
	background-color:rgb(162, 162, 170);
	height:485px;
	float:left;
  }
  .right-canvas{
	width:86%;
	background-color:rgb(255, 255, 255);	
	height:615px;
	float:right;
	overflow:scroll;
  }	

  .button {
	background-color: #535555; /* Green */
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 8px 6px;
	cursor: pointer;
  }


  .container {
	
	position: relative;
  }
  
  .child {
	width: 50px;
	height: 50px;
	background-color: red;
	/* Center vertically and horizontally */
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
  }