<div class="head-panel">
  <h1>
    {{ title }}
  </h1>
  <h3>Accounting Business Unit : Personal (Viswa Srikanth)</h3>
  <div class="nav-bar">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/accountreport" routerLinkActive="active">Account Report</a>
        <ul>
          <li><a routerLink="/balance_sheet">Balance Sheet</a></li>
          <li><a routerLink="/plstatement">P & L Statement</a></li>
          <li><a routerLink="/cashflow">Cash Flow</a></li>
        </ul>
      </li>
      <li><a routerLink="/transactions" routerLinkActive="active">Transactions</a>
        <ul>
          <li><a routerLink="/make_a_transaction">Make a Transaction</a></li>
          <li><a routerLink="/view_a_ledger">View a Ledger</a></li>
          <li><a routerLink="/recent_deals">Recet Deals</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/manageaccounts" routerLinkActive="active">Manage Accounts</a>
        <ul>
          <li><a routerLink="/addaccount">Addition</a></li>
          <li><a routerLink="/listaccounts">List Accounts</a></li>
          <li><a routerLink="/transactionGraph">Transaction Graph</a></li>
        </ul>
      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <!-- <form action="/action_page"> -->
        <li >
          <table style="float: right">
            <tr>
              <td><input type="text" placeholder="Search.." name="search" size="14"></td>
              <td><button type="submit"><i class="fa fa-search"></i></button></td>
            </tr>
          </table>
        </li>
      <!-- </form> -->
    </ul>
  </div>
</div>